---
interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---

<div
  class={`relative overflow-hidden w-[375px] h-[375px] mx-auto ${className}`}
>
  <div
    class="absolute left-[-36px] top-[-24px] w-[445px] h-[390px] bg-hero-mobile bg-cover"
  >
  </div>
</div>
