---
import Gradient1Button from "../Gradient1Button.astro";

interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---

<div
  class={`p-4 md:mb-40 md:pl-6 md:mt-1 xl:mt-28 md:w-[440px] xl:w-[500px] ${
    className ?? ""
  }`}
>
  <div class="text-heading-l xl:text-heading-xl">
    Maximize skill, minimize budget
  </div>
  <div
    class="mt-6 xl:mt-10 text-gray-700 text-body-s font-medium leading-[1.625rem] xl:text-base"
  >
    Our modern courses across a range of in-demand skills will give you the
    knowledge you need to live the life you want.
  </div>
  <Gradient1Button class="mt-6 xl:mt-10">Get Started</Gradient1Button>
</div>
