---
import courseData from "../../data/courses.json";
import CourseCard from "./CourseCard.astro";
import CourseTeaser from "./CourseTeaser.astro";
interface Props {
  class?: string;
}
interface Course {
  title: string;
  description: string;
  icon?: string;
}
const { class: className } = Astro.props;
const courses = (courseData as Course[]).map((c) => ({
  ...c,
  icon: `/assets/icon-${c.title.toLowerCase()}.svg`,
}));
---

<div
  class={`bg-gradient-to-b from-white to-gray-50 w-full flex justify-center max-w-[1440px] ${
    className ?? ""
  }`}
>
  <div
    class="px-4 pb-20 grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-y-8 md:gap-x-2.5 xl:grid-cols-3 xl:gap-x-[30px] xl:gap-y-14 xl:mt-8"
  >
    <CourseTeaser
      class="max-w-[375px] md:max-w-[340px] md:mt-6 md:pt-[50px] xl:text-heading-m"
    >
      Check out our most popular courses!
    </CourseTeaser>
    {
      courses.map((course) => (
        <CourseCard
          icon={course.icon}
          title={course.title}
          description={course.description}
          class="max-w-[375px] md:max-w-[340px] xl:max-w-[350px]"
        />
      ))
    }
  </div>
</div>
